
.px-4 {
    padding-left: 1rem;
    padding-right:1rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right:1.25rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right:1.5rem
}

.py-0 {
    padding-top: 0;
    padding-bottom:0
}

.py-0\.5 {
    padding-top: .125rem;
    padding-bottom:.125rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom:.25rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom:.5rem
}

.py-2\.5 {
    padding-top: .625rem;
    padding-bottom:.625rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom:.75rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom:1.25rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom:1.5rem
}

.pb-8 {
    padding-bottom:2rem
}

.pt-16 {
    padding-top:4rem
}

.text-left {
    text-align:left
}

.text-center {
    text-align:center
}

.text-2xl {
    font-size: 1.5rem;
    line-height:2rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height:2.25rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height:2.5rem
}

.text-5xl {
    font-size: 3rem;
    line-height:1
}

.text-\[10px\] {
    font-size:10px
}

.text-lg {
    font-size: 1.125rem;
    line-height:1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height:1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height:1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height:1rem
}

.font-bold {
    font-weight:700
}

.font-medium {
    font-weight:500
}

.font-semibold {
    font-weight:600
}

.uppercase {
    text-transform:uppercase
}

.leading-relaxed {
    line-height:1.625
}

.leading-snug {
    line-height:1.375
}

.tracking-tight {
    letter-spacing:-.025em
}

.tracking-wider {
    letter-spacing:.05em
}

.text-black {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-blue-400 {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-green-500 {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-red-400 {
    --tw-text-opacity: 1;
    color:rgb(248 113 113 / var(--tw-text-opacity))
}

.text-red-500 {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-slate-400 {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-slate-500 {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-slate-600 {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-slate-800 {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.line-through {
    text-decoration-line:line-through
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset:2px
}

.outline {
    outline-style:solid
}

.ring-gray-100 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity))
}

.ring-gray-200 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity))
}

.ring-offset-2 {
    --tw-ring-offset-width: 2px
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration:.15s
}

.placeholder\:text-gray-800::-moz-placeholder {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.placeholder\:text-gray-800::placeholder {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.hover\:bg-black:hover {
    --tw-bg-opacity: 1;
    background-color:rgb(255 255 255 / var(--tw-bg-opacity))
}

.hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color:rgb(255 255 255 / var(--tw-bg-opacity))
}

.hover\:bg-gray-200:hover {
    --tw-bg-opacity: 1;
    background-color:rgb(255 255 255 / var(--tw-bg-opacity))
}

.hover\:bg-gray-800:hover {
    --tw-bg-opacity: 1;
    background-color:rgb(255 255 255 / var(--tw-bg-opacity))
}

.hover\:bg-slate-900:hover {
    --tw-bg-opacity: 1;
    background-color:rgb(79 70 229 / var(--tw-bg-opacity))
}

.hover\:text-gray-900:hover {
    --tw-text-opacity: 1;
    color:rgb(17 24 39 / var(--tw-text-opacity))
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.hover\:underline:hover {
    text-decoration-line:underline
}

.focus\:border-gray-600:focus {
    --tw-border-opacity: 1;
    border-color:rgb(75 85 99 / var(--tw-border-opacity))
}

.focus\:ring-4:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #cd3939f3)
}

.focus-visible\:ring-2:focus-visible {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #d21111f7)
}

.group[open] .group-open\:rotate-180 {
    --tw-rotate: 180deg;
    transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:-translate-y-1 {
    --tw-translate-y: -.25rem;
    transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgba(243, 27, 27, 0.953);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #ec3535), var(--tw-ring-shadow, 0 0 #ff3030f1), var(--tw-shadow)
}

@media (min-width: 640px) {
    .sm\:grid-cols-2 {
        grid-template-columns:repeat(2, minmax(0, 1fr))
    }

    .sm\:flex-row {
        flex-direction:row
    }
}

@media (min-width: 768px) {
    .md\:order-1 {
        order:1
    }

    .md\:mt-0 {
        margin-top:0
    }

    .md\:block {
        display:block
    }

    .md\:h-12 {
        height:3rem
    }

    .md\:h-14 {
        height:3.5rem
    }

    .md\:h-16 {
        height:4rem
    }

    .md\:w-auto {
        width:auto
    }

    .md\:grid-cols-2 {
        grid-template-columns:repeat(2, minmax(0, 1fr))
    }

    .md\:grid-cols-3 {
        grid-template-columns:repeat(3, minmax(0, 1fr))
    }

    .md\:flex-nowrap {
        flex-wrap:nowrap
    }

    .md\:gap-10 {
        gap:2.5rem
    }

    .md\:gap-20 {
        gap:5rem
    }

    .md\:px-20 {
        padding-left: 5rem;
        padding-right:5rem
    }

    .md\:py-20 {
        padding-top: 5rem;
        padding-bottom:5rem
    }

    .md\:pb-24 {
        padding-bottom:6rem
    }

    .md\:pt-12 {
        padding-top:3rem
    }

    .md\:text-2xl {
        font-size: 1.5rem;
        line-height:2rem
    }

    .md\:text-4xl {
        font-size: 2.25rem;
        line-height:2.5rem
    }

    .md\:text-6xl {
        font-size: 3.75rem;
        line-height:1
    }

    .md\:text-xl {
        font-size: 1.25rem;
        line-height:1.75rem
    }
}

@media (min-width: 1024px) {
    .lg\:absolute {
        position:absolute
    }

    .lg\:left-0 {
        left:0
    }

    .lg\:right-0 {
        right:0
    }

    .lg\:order-none {
        order:0
    }

    .lg\:mt-0 {
        margin-top:0
    }

    .lg\:flex {
        display:flex
    }

    .lg\:hidden {
        display:none
    }

    .lg\:w-48 {
        width:12rem
    }

    .lg\:w-auto {
        width:auto
    }

    .lg\:grid-cols-2 {
        grid-template-columns:repeat(2, minmax(0, 1fr))
    }

    .lg\:flex-row {
        flex-direction:row
    }

    .lg\:gap-3 {
        gap:.75rem
    }

    .lg\:rounded-md {
        border-radius:.375rem
    }

    .lg\:border {
        border-width:1px
    }

    .lg\:bg-white {
        --tw-bg-opacity: 1;
        background-color:rgb(255 255 255 / var(--tw-bg-opacity))
    }

    .lg\:px-3 {
        padding-left: .75rem;
        padding-right:.75rem
    }

    .lg\:py-2 {
        padding-top: .5rem;
        padding-bottom:.5rem
    }

    .lg\:text-5xl {
        font-size: 3rem;
        line-height:1
    }

    .lg\:text-6xl {
        font-size: 3.75rem;
        line-height:1
    }

    .lg\:leading-tight {
        line-height:1.25
    }

    .lg\:tracking-tight {
        letter-spacing:-.025em
    }

    .lg\:shadow {
        --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
        --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
        box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    }
}

@media (min-width: 1280px) {
    .xl\:text-7xl {
        font-size: 4.5rem;
        line-height:1
    }

    .xl\:tracking-tighter {
        letter-spacing:-.05em
    }
}

@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(/_astro/inter-cyrillic-ext-wght-normal.848492d3.woff2) format("woff2-variations");
    unicode-range:U + 0460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U + A640-A69F, U + FE2E-FE2F
}

@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(/_astro/inter-cyrillic-wght-normal.262a1054.woff2) format("woff2-variations");
    unicode-range:U + 0301, U + 0400-045F, U + 0490-0491, U + 04B0-04B1, U + 2116
}

@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(/_astro/inter-greek-ext-wght-normal.fe977ddb.woff2) format("woff2-variations");
    unicode-range:U + 1F00-1FFF
}

@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(/_astro/inter-greek-wght-normal.89b4a3fe.woff2) format("woff2-variations");
    unicode-range:U + 0370-03FF
}

@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(/_astro/inter-vietnamese-wght-normal.ac4e131c.woff2) format("woff2-variations");
    unicode-range:U + 0102-0103, U + 0110-0111, U + 0128-0129, U + 0168-0169, U + 01A0-01A1, U + 01AF-01B0, U + 0300-0301, U + 0303-0304, U + 0308-0309, U + 0323, U + 0329, U + 1EA0-1EF9, U + 20AB
}

@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(/_astro/inter-latin-ext-wght-normal.45606f83.woff2) format("woff2-variations");
    unicode-range:U + 0100-02AF, U + 0300-0301, U + 0303-0304, U + 0308-0309, U + 0323, U + 0329, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U + A720-A7FF
}

@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(/_astro/inter-latin-wght-normal.450f3ba4.woff2) format("woff2-variations");
    unicode-range:U + 0000-00FF, U + 0131, U + 0152-0153, U + 02BB-02BC, U + 02C6, U + 02DA, U + 02DC, U + 0300-0301, U + 0303-0304, U + 0308-0309, U + 0323, U + 0329, U + 2000-206F, U + 2074, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD
}

img {
    content-visibility: auto
}
